<section class="section">
  <div class="container">

    <div class="section-header">
      <h3 class="section-suptitle">What we do</h3>
      <h2 class="section-title">Story about us</h2>
      <div class="section-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Morbi molestie aliquam urna.
          Nam nec lectus vitae arcu varius rutrum. Etiam imperdiet accumsan augue,
          id faucibus quam. Mauris feugiat justo et.</p>
      </div>
    </div>

    <div class="about">
      <div class="about-item">
        <div class="about-image">
          <img src="../../assets/about-us/1.jpg" alt="">
        </div>
        <div class="about-text">super team</div>
      </div>
      <div class="about-item">
        <div class="about-image">
          <img src="../../assets/about-us/2.jpg" alt="">
        </div>
        <div class="about-text">super team</div>
      </div>
      <div class="about-item">
        <div class="about-image">
          <img src="../../assets/about-us/3.jpg" alt="">
        </div>
        <div class="about-text">super team</div>
      </div>
    </div>
  </div>
</section>
