@import "../../section";

.card {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.card-item {
  width: 380px;
}

.card-inner {
  position: relative;
  background-color: $background-color;
}

.card-item:hover .card-image img {
  opacity: .1;
}

.card-item:hover .card-image {
  transform: translate3d(-10px, -10px, 0);
}

.card-image img {
  display: block;
  transition: opacity .1s linear;
}

.card-image {
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform .1s linear;
}

.card-item:hover .card-text {
  opacity: 1;
}

.card-text {
  width: 100%;
  color: $text-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  opacity: 0;
  transition: opacity .2s linear;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
}

.card-icon {
  width: 15px;
  height: 15px;
}
