<div class="statistic">
  <div class="container">
    <div class="stat">
      <div class="stat-item">
        <div class="stat-count">42</div>
        <div class="stat-text">Web Design Projects</div>
      </div>
      <div class="stat-item">
        <div class="stat-count">123</div>
        <div class="stat-text">Happy Client</div>
      </div>
      <div class="stat-item">
        <div class="stat-count">15</div>
        <div class="stat-text">Award Winner</div>
      </div>
      <div class="stat-item">
        <div class="stat-count">99</div>
        <div class="stat-text">Cup Of Coffee</div>
      </div>
      <div class="stat-item">
        <div class="stat-count">24</div>
        <div class="stat-text">Members</div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="section-header">
      <h3 class="section-suptitle">We work with</h3>
      <h2 class="section-title">Amazing Services</h2>
    </div>

    <div class="services">
      <div class="services-item">
        <img class="services-icon" src="../../assets/services/photography.png" alt="">
        <div class="services-title">Photography</div>
        <div class="services-text">Lorem ipsum dolor sit amet,
        conjecture adipiscing elit, sed do eiusmod tempor.</div>
      </div>
      <div class="services-item">
        <img class="services-icon" src="../../assets/services/webdesign.png" alt="">
        <div class="services-title">Web Design</div>
        <div class="services-text">Lorem ipsum dolor sit amet,
          conjecture adipiscing elit, sed do eiusmod tempor.</div>
      </div>
      <div class="services-item">
        <img class="services-icon" src="../../assets/services/creativity.png" alt="">
        <div class="services-title">Creativity</div>
        <div class="services-text">Lorem ipsum dolor sit amet,
          conjecture adipiscing elit, sed do eiusmod tempor.</div>
      </div>
    </div>

    <hr class="services-border">

    <div class="services">
      <div class="services-item">
        <img class="services-icon" src="../../assets/services/seo.png" alt="">
        <div class="services-title">Seo</div>
        <div class="services-text">Lorem ipsum dolor sit amet,
          conjecture adipiscing elit, sed do eiusmod tempor.</div>
      </div>
      <div class="services-item">
        <img class="services-icon" src="../../assets/services/css-html.png" alt="">
        <div class="services-title">CSS And HTML</div>
        <div class="services-text">Lorem ipsum dolor sit amet,
          conjecture adipiscing elit, sed do eiusmod tempor.</div>
      </div>
      <div class="services-item">
        <img class="services-icon" src="../../assets/services/digital.png" alt="">
        <div class="services-title">Digital</div>
        <div class="services-text">Lorem ipsum dolor sit amet,
          conjecture adipiscing elit, sed do eiusmod tempor.</div>
      </div>
    </div>
  </div>
</section>
<section class="section section-devices">
  <div class="container">
    <div class="section-header">
      <h3 class="section-suptitle">For all devices</h3>
      <h2 class="section-title">Unique design</h2>
    </div>

    <div class="devices">
      <img class="devices-item" src="../../assets/ipad.png" alt="">
      <img class="devices-item devices-item-iphone" src="../../assets/iphone.png" alt="">
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="section-header">
      <h3 class="section-suptitle">Service</h3>
      <h2 class="section-title">what we do</h2>
      <div class="section-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        A at dicta eligendi maiores molestiae similique vel velit! Ex id itaque placeat ut.
        Architecto cupiditate ducimus, explicabo fuga magnam non perspiciatis.
      </div>
    </div>

    <div class="wedo">
      <div class="wedo-item">
        <img src="https://via.placeholder.com/570x380" alt="">
      </div>
      <div class="wedo-item">
        <div class="accordion">
          <div class="accordion-item">
            <input type="radio" class="accordion-input" [name]="'wedo-accordion'" id="wedo-accordion-1" checked>
            <label for="wedo-accordion-1">
              <div class="accordion-header">
                <img class="accordion-icon" src="../../assets/services/photography.png" alt="">
                <div class="accordion-title">Photography</div>
              </div>
            </label>
            <div class="accordion-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Architecto beatae consequuntur corporis delectus,
                dolore dolorem eius eligendi enim est ex inventore iste
                minus modi natus nesciunt nisi nostrum odio omnis porro quasi
                quia reiciendis rem sint tempora temporibus vel vero voluptas.
                Beatae commodi et expedita ipsa maiores nisi quas repellendus!
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Architecto beatae consequuntur corporis delectus,
                dolore dolorem eius eligendi enim est ex inventore iste
                minus modi natus nesciunt nisi nostrum odio omnis porro quasi
                quia reiciendis rem sint tempora temporibus vel vero voluptas.
                Beatae commodi et expedita ipsa maiores nisi quas repellendus!
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <input type="radio" class="accordion-input" [name]="'wedo-accordion'" id="wedo-accordion-2">
          <label for="wedo-accordion-2">
            <div class="accordion-header">
              <img class="accordion-icon" src="../../assets/services/creativity.png" alt="">
              <div class="accordion-title">Creativity</div>
            </div>
          </label>
          <div class="accordion-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Architecto beatae consequuntur corporis delectus,
              dolore dolorem eius eligendi enim est ex inventore iste
              minus modi natus nesciunt nisi nostrum odio omnis porro quasi
              quia reiciendis rem sint tempora temporibus vel vero voluptas.
              Beatae commodi et expedita ipsa maiores nisi quas repellendus!
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Architecto beatae consequuntur corporis delectus,
              dolore dolorem eius eligendi enim est ex inventore iste
              minus modi natus nesciunt nisi nostrum odio omnis porro quasi
              quia reiciendis rem sint tempora temporibus vel vero voluptas.
              Beatae commodi et expedita ipsa maiores nisi quas repellendus!
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <input type="radio" class="accordion-input" [name]="'wedo-accordion'" id="wedo-accordion-3">
          <label class="accordion-label" for="wedo-accordion-3">
            <div class="accordion-header">
              <img class="accordion-icon" src="../../assets/services/webdesign.png" alt="">
              <div class="accordion-title">Web design</div>
            </div>
          </label>
          <div class="accordion-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Architecto beatae consequuntur corporis delectus,
              dolore dolorem eius eligendi enim est ex inventore iste
              minus modi natus nesciunt nisi nostrum odio omnis porro quasi
              quia reiciendis rem sint tempora temporibus vel vero voluptas.
              Beatae commodi et expedita ipsa maiores nisi quas repellendus!
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Architecto beatae consequuntur corporis delectus,
              dolore dolorem eius eligendi enim est ex inventore iste
              minus modi natus nesciunt nisi nostrum odio omnis porro quasi
              quia reiciendis rem sint tempora temporibus vel vero voluptas.
              Beatae commodi et expedita ipsa maiores nisi quas repellendus!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

