<section class="section section--gray">
  <div class="container">
    <div class="reviews">
      <a href="#" class="reviews-button reviews-button--pref">Pref</a>
      <a href="#" class="reviews-button reviews-button--next">Next</a>

      <div class="reviews-item">
        <img class="reviews-photo" src="https://via.placeholder.com/145" alt="">
        <div class="reviews-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Ab amet consectetur quae quia similique suscipit?
          Culpa fuga in inventore iste modi optio sapiente totam, voluptatum.
          <div class="reviews-author">Jon Doe</div>
        </div>
      </div>
    </div>
  </div>
</section>
