<section class="section">
  <div class="container">
    <div class="section-header">
      <h3 class="section-suptitle">Who we are</h3>
      <h2 class="section-title">Meet our team</h2>
      <div class="section-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        A at dicta eligendi maiores molestiae similique vel velit! Ex id itaque placeat ut.
        Architecto cupiditate ducimus, explicabo fuga magnam non perspiciatis.
      </div>
    </div>
    <div class="card">
      <div class="card-item">
        <div class="card-inner">
          <div class="card-image">
            <img src="../../assets/team/1.jpg" alt="">
          </div>
          <div class="card-text">
            <div class="social">
              <a class="social-item" href="#" target="_blank">
                <bi name="facebook" class="social-icon"></bi>
              </a>
              <a class="social-item" href="#" target="_blank">
                <bi name="twitter" class="social-icon"></bi>
              </a>
              <a class="social-item" href="#" target="_blank">
                <bi name="pinterest" class="social-icon"></bi>
              </a>
              <a class="social-item" href="#" target="_blank">
                <bi name="instagram" class="social-icon"></bi>
              </a>
            </div>
          </div>
        </div>
        <div class="card-info">
          <div class="card-name">Matthew Dix</div>
          <div class="card-prof">Graphic Design</div>
        </div>
      </div>
      <div class="card-item">
        <div class="card-inner">
          <div class="card-image">
            <img src="../../assets/team/2.jpg" alt="">
          </div>
          <div class="card-text">
            <div class="social">
              <a class="social-item" href="#" target="_blank">
                <bi name="facebook" class="social-icon"></bi>
              </a>
              <a class="social-item" href="#" target="_blank">
                <bi name="twitter" class="social-icon"></bi>
              </a>
              <a class="social-item" href="#" target="_blank">
                <bi name="telegram" class="social-icon"></bi>
              </a>
              <a class="social-item" href="#" target="_blank">
                <bi name="instagram" class="social-icon"></bi>
              </a>
            </div>
          </div>
        </div>
        <div class="card-info">
          <div class="card-name">Christopher Cempbell</div>
          <div class="card-prof">Branding/UX design</div>
        </div>
      </div>
      <div class="card-item">
        <div class="card-inner">
          <div class="card-image">
            <img src="../../assets/team/3.jpg" alt="">
          </div>
          <div class="card-text">
            <div class="social">
              <a class="social-item" href="#" target="_blank">
                <bi name="telegram" class="social-icon"></bi>
              </a>
              <a class="social-item" href="#" target="_blank">
                <bi name="instagram" class="social-icon"></bi>
              </a>
            </div>
          </div>
        </div>
        <div class="card-info">
          <div class="card-name">Michael Fertig</div>
          <div class="card-prof">Developer</div>
        </div>
      </div>
    </div>
  </div>
</section>
